$black: #212121;
$white: #fff;
$grey: #F5F5F5;
$grey-500: #9E9E9E;

$light-green-700: #689F38;

/* Navigation */
.navigation{
	background: $grey;
	overflow: hidden;
	margin-left: 250px;
}

.navigation ul li{
	padding: 1rem .5rem;
	background: transparent;

	&:hover{
		background: transparent;
		transition: .2s;
		cursor: pointer;
	}

	a{
		text-decoration: none;
		color: $black;

		&:hover{
			color: $grey-500;
			transition: .1s;
		}
	}
}

/* Left Off Canvas */
.left-offcanvas{
	background: $light-green-700;
	position: fixed;
	display: absolute;
	top: 0;
	height: 100%;
	width: 250px;
}
