$black: #000;
$white: #fff;

/* Navigation */
.navigation{
	background: $black;
	overflow: hidden;
}

.navigation ul li{
	padding: 1rem .5rem;
	background: transparent;

	&:hover{
		background: red;
		transition: .2s;
		cursor: pointer;
	}

	a{
		text-decoration: none;
		color: $white;
	}
}